# Zig directories
zig-out
.zig-cache

# Stuff that tooling could create
tools/*.bin
tools/*.sig
tools/*.img
tools/*.simg
tools/*.tmp
tools/*.log

# Junk
*.swp
*.vscode
*.idea
*.log
*.tmp
*.bak
*.pdb
*.o
*.a
*.so
*.dll
*.lib
*.dylib

# Misc
.janus.state
src/backend/Common/generated.zig

# Developer
ORIGINAL
TEST
EXPR
